<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<style>
    body#LoginForm {
        background-image: url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 10px;
    }

    .panel h2 {
        color: #444444;
        font-size: 18px;
        margin: 0 0 8px 0;
    }

    .panel p {
        color: #777777;
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 24px;
    }

    .login-form .form-control {
        background: #f7f7f7 none repeat scroll 0 0;
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
    }

    .main-div {
        background: #ffffff none repeat scroll 0 0;
        border-radius: 2px;
        margin: 10px auto 30px;
        max-width: 38%;
        padding: 50px 70px 70px 71px;
    }

    .login-form .form-group {
        margin-bottom: 10px;
    }

    .login-form {
        text-align: center;
    }

    .forgot a {
        color: #777777;
        font-size: 14px;
        text-decoration: underline;
    }

    .login-form .btn.btn-primary {
        background: #f0ad4e none repeat scroll 0 0;
        border-color: #f0ad4e;
        color: #ffffff;
        font-size: 14px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        padding: 0;
    }

    .login-form .btn.btn-primary.reset {
        background: #ff9900 none repeat scroll 0 0;
    }

    .back a {
        color: #444444;
        font-size: 13px;
        text-decoration: none;
    }
</style>

<body id="LoginForm">
<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>User Login</h2>
                <p>Please enter username and password</p>
            </div>
            <form id="Login">

                <div class="form-group">


                    <input type="text" class="form-control" id="name" placeholder="User Name">

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" id="password" placeholder="Password">

                </div>

                <button type="button" class="btn btn-primary" onclick="loginUser()">Login</button>

            </form>
        </div>
    </div>
</div>
</body>
<script>

    // Login function for user to login
    function loginUser() {
        var name = $('#name').val();
        var password = $('#assword').val();

        var ajaxConfig = {
            method: "GET",
            url: "http://localhost:8080/api/v1/users",
            async: true
        };

        $.ajax(ajaxConfig).done(function (response) {
            var json = JSON.parse(response);
           alert(response);

            var name;
            var pass;

            for (i = 0; i < json.length; i++) {
                name= json[i].username;
                pass= json[i].password;
            }

            if(typeof username==name && typeof password==pass){
                window.location.href = "manage-student.html";
            }else{
                alert("Incorrect username or password")
            }

        });
    }
</script>
</html>
